* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.mw {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;



}

body {
    font-family: 'Open Sans', sans-serif;
    color: #33475b;
}

.b {
    border: 1px solid black;

    min-height: 100px;
}

button {
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
}

/* -----------------------topbar----------------------- */
.topbar{
    height: 78px;
    width:100%;
    background-color: #f5f8fa;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #cbd6e2;
}

.topbar .container  {

}

.topbar .left {
    float: left;
    padding-top: 28px;
}

#languages {
    float: left;
    padding-right: 21px;
    border-right: 1px solid #cbd6e2;
}

.languages span {
    margin: 0 10px;
}
#contact-us {
    float: left;
    padding-left: 21px;
}

.topbar .right {
    float: right;
    padding-top: 18px;
    padding-bottom: 18px;
}

.fa-search{
    display: inline-block;
    color: #00a4bd;
}

.topbar .buttons {
    display: inline-block;
}

#log-in {
    color: #ff7a59;
    background-color: white;
    padding: 10px 20px;
    margin: 0 12px 0 29px;
}

#log-in:hover {
    background-color: #fff1ee;
}

#ghsp {
    padding: 10px 20px;
}


/* -----------------------topbar----------------------- */
/* -----------------------header----------------------- */
header {
    background-color: #ffffff;
    margin-top: 78px;
}

nav{

}

header .left{
    float: left;
    padding: 28px 0 28px 0;
}

header .right {
    float: right;
    padding: 39px 0 39px 0;
}

#logo {
    width: 106px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding-right: 6px;
    padding-left: 29px;
}

nav i {
    margin-left: 5px;
}


/* -----------------------header----------------------- */
/* -----------------------pink----------------------- */
.pink {
    background-color: #fff3ee;
    max-height: 731px;


}

.pink .container {
    width: 550px;
    height: 585px;
}

.text {
    padding-top: 70px;

}

h1 {
    font-size: 37px;
    font-weight: 800;
    line-height: 1.5;
}

.pink p {
    line-height: 1.7;
    padding-top: 35px;
}

.pink .buttons {
    padding-top: 40px;
    padding-bottom: 180px;
}

.pink button {
    padding: 23px 40px;
}

.pbar{
    position: relative;
    height: 149px;
}
.qpink {
    height: 67px;
    width: 70%;
    background-color: #fff3ee;
    position: absolute;
    top: 0;
    left: 0;
}

.qlgreen {
    height: 82px;
    width: 70%;
    background-color: #afebe4;
    position:absolute;
    bottom:0;
    left:0;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #33475b;
}

.agreen {
    height: 149px;
    width: 30%;
    background-color: #00a48d;
    position: absolute;
    right:0;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #33475b;

}


/* -----------------------pink----------------------- */
/* -----------------------grey----------------------- */
.grey {
    background-color:#f5f8fa;
}

.grey .container {

}

.grey .box{
    width: 100%;
    text-align: center;
    padding: 45px 170px;



    /* border: 1px solid black; */
    min-height: 100px;
}

.grey .box img {
    height: 175px;
}

.grey .boxw {
    margin: 45px 0;
}

.card{
    width: 30%;
    float: left;
    background-color: white;



    height: 100px;
    /* border: 1px solid black; */
}

.cen {
    margin: 0 55px;
}

/* -----------------------grey----------------------- */
/* -----------------------green----------------------- */
.green{
    background-color: #00afb2;
    color: white;
    text-align: center;

}

.green .box {
    width: 80%;
    margin:0 auto;
    padding: 110px;
}

.green .table {
    width: 100%;
}

.green .minibox {
    width: 25%;



    float: left;
    min-height: 100px;
}

.green .table {
    padding-bottom: 50px;
}

.green .minibox:nth-child(1n+2) {
    border-left: 1px solid white;
}

.green .minibox:nth-child(1n+5) {
    border-top: 1px solid white;
}

.green .minibox:nth-child(5){
    border-left: 0;
}


/* -----------------------green----------------------- */
/* -----------------------white----------------------- */
.white {
    background-color: #ffffff;
    padding: 100px 0px;
}

.white .rowf {
    position: relative;
}

.white .cust {
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;

}

.white .container-table {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;

}

.white .table {

}

.white .minibox {
    width: 25%;
    height: 80px;
    text-align: center;
    float: left;
    line-height: 80px;

}

.white .rows {
}

.white .table img{
    max-width: 110px;
}

.white .rows img{
    max-width: 350px;
text-align: left;

}


/* -----------------------white----------------------- */
/* -----------------------footer----------------------- */
footer {
    background-color: #33475b;



  height: 100px;
}

/* -----------------------footer----------------------- */
