* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.mw {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #33475b;
}

.b {
    border: 1px solid black;
}

button {
    color: white;
    font-weight: 600;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
}

button:hover {
    background-color: #ffbcac;
}

h2 {
    font-size: 28px;
}

/* -----------------------topbar----------------------- */
.topbar{
    height: 78px;
    width:100%;
    background-color: #f5f8fa;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid #cbd6e2;
}

.topbar .container  {

}

.topbar .left {
    float: left;
    padding-top: 28px;
}

#languages {
    float: left;
    padding-right: 21px;
    padding-bottom: 15px;
    position: relative;
}

.languages span {
    margin: 0 10px;
}

.menulang {
    position: absolute;
    top: 28px;
    font-weight: bold;
    line-height: 2.3;
    display: none;
}

.squaremenu {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    left:76px;
    background-color: #f5f8fa;
    z-index: 3;
    border-left: 1px solid #cbd6e2;
    border-top: 1px solid #cbd6e2;
}

.topbar .squaremenushadow {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    left:76px;
    box-shadow: 1px 1px 10px #aaa;
    z-index: 1;
}


.topbar .menulang .menulist {
    width: 140px;
    position: absolute;
    top: 7px;
    left: 17px;
    background-color: #f5f8fa;
    padding: 10px 0;
    z-index: 2;
    border: 1px solid #cbd6e2;
    box-shadow: 1px 1px 10px #aaa;
}

.topbar .menulist li {
    padding-left: 20px;
    padding-right: 70px;
}

.menulist li:hover {
    background-color: #e5f5f8;
}


#contact-us {
    float: left;
    padding-left: 21px;
    border-left: 1px solid #cbd6e2;
}

#languages:hover .menulang {
    display: block;
}




.topbar .right {
    float: right;
    padding-top: 18px;
    padding-bottom: 18px;
}

.fa-search{
    display: inline-block;
    color: #00a4bd;
}

.topbar .buttons {
    display: inline-block;
}

#log-in {
    color: #ff7a59;
    background-color: white;
    padding: 10px 20px;
    margin: 0 12px 0 29px;
}

#log-in:hover {
    background-color: #fff1ee;
}

#ghsp {
    padding: 10px 20px;
}

ul {
    list-style-type: none;
}

/* -----------------------topbar----------------------- */
/* -----------------------header----------------------- */
header {
    background-color: #ffffff;
    margin-top: 78px;
    height: 100px;
}

nav{
    width: 100%;

}

header .left{
    float: left;
    padding: 28px 0 28px 0;
    width: 30%;
}

#logo {
    width: 106px;
}

header .right {
    float: left;
    width: 70%;
}

header .navi {

    font-weight: bold;
    width: 100%;
}

.wli{
    text-align: center;
    float: left;
    width: 20%;
    height: 100px;
    padding: 35px 0;

}

.wli span {

}

header .wli:hover {
    background-color: #f5f8fa;;
}

nav i{
    padding-left: 5px;
}

.menuli {
    position: relative;
}

#sof .squaremenu {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    left:68%;
    background-color: #f5f8fa;
    z-index: 3;
    border-left: 1px solid #cbd6e2;
    border-top: 1px solid #cbd6e2;
}

#sof .squaremenushadow {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    left:68%;
    box-shadow: 1px 1px 10px #aaa;
    z-index: 1;
}

#sof .menu {
    padding: 10px;
    
}


/* -----------------------header----------------------- */
/* -----------------------pink----------------------- */
.pink {
    background-color: #fff3ee;
    max-height: 731px;
    position: relative;
}

#hero {
    position: absolute;
    height: 514px;
    bottom: 0;
    z-index: 1;
    right: 11%;
}

.pink .container {
    width: 550px;
    height: 585px;
}

.text {
    padding-top: 70px;

}

h1 {
    font-size: 37px;
    font-weight: 800;
    line-height: 1.5;
}

.pink p {
    line-height: 1.7;
    padding-top: 35px;
}

.pink .buttons {
    padding-top: 40px;
    padding-bottom: 180px;
}

.pink button {
    padding: 23px 40px;
}

.pbar{
    position: relative;
    height: 149px;
}
.qpink {
    height: 67px;
    width: 70%;
    background-color: #fff3ee;
    position: absolute;
    top: 0;
    left: 0;
}

.qlgreen {
    height: 82px;
    width: 70%;
    background-color: #afebe4;
    position:absolute;
    bottom:0;
    left:0;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #33475b;
}

.agreen {
    height: 149px;
    width: 30%;
    background-color: #00a48d;
    position: absolute;
    right:0;
    border-top: 3px;
    border-bottom: 3px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #33475b;

}


/* -----------------------pink----------------------- */
/* -----------------------grey----------------------- */
.grey {
    background-color:#f5f8fa;
    color: #33475b;
    padding-bottom: 50px;

}

.grey .container {

}

.grey .box{
    width: 100%;
    text-align: center;
    padding: 45px 170px;
}

#cube {
    height: 175px;
}

.grey .boxw {
    background-color: white;
    width : 100%;
    padding: 55px;
    margin-bottom: 55px;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px grey;
    transition: .3s;
}

.grey .boxw:hover {
    transform: scale(1.01);
}

.grey img {
    height: 120px;
}

.book {
    width: 25%;
    float: left;
    text-align: center;
    margin-right: 5.5%;
}

.book button {
    padding: 10px 20px;
}

.crm {
    width: 69.5%;
    height: 165px;
    float: left;
}

.crm .hr {
    display: inline-block;
    position: relative;
    width: 20%;
}

#pf {
    line-height: 50px;
    font-weight: bold;
}

.hr hr {
    position: absolute;
    transform: translateY(-6px);
    width: 300px;
    margin: 0 50px;
}

.check i{
    padding-right: 20px;
    color: #ff7a59;
}

.check span {
    padding-right: 30px;
}

.card{
    width: 30%;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 5px 1px grey;
    border-radius: 5px;
    text-align: center;
    padding: 28px;
    transition: .3s;
}

.grey .card:hover {
    transform: scale(1.01);
}

.cen {
    margin: 0 55px;
}

.card h3 {
    padding: 20px;
}

.card hr {
    margin: 20px 0;
}

.card ul {
    text-align: left;


}

.card i {
    color: #ff7a59;
    padding-right: 20px;
}

.card button {
    padding: 10px 20px;
    margin-top: 20px;
}

/* -----------------------grey----------------------- */
/* -----------------------green----------------------- */
.green{
    background-image: linear-gradient(to right, #00acb6, #00b9a9);
    color: white;
    text-align: center;

}

.green .box {
    width: 100%;
    margin:0 auto;
    padding: 110px 110px 0 110px;
}

.green h2 {
    padding-bottom: 35px;
}

.green .table {
    width: 100%;
}

.green .minibox {
    width: 25%;
    padding: 30px;
    float: left;
}

.green .table {
    padding: 50px 0;
}

.green .minibox:nth-child(1n+2) {
    border-left: 1px solid white;
}

.green .minibox:nth-child(1n+5) {
    border-top: 1px solid white;
}

.green .minibox:nth-child(5){
    border-left: 0;
}


.green .minibox img {
    display: block;
    margin: 0 auto 15px auto;
}

.green .minibox span{
    font-weight: 700;
    font-size: 28px;
}

.green p {
    font-weight: 100;
    font-size: 14px;
    padding: 10px 0;
}

.green .minibox span::after {
    content: "+";
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
    transform: translateY(-25%);


}

/* -----------------------green----------------------- */
/* -----------------------white----------------------- */
.white {
    background-color: #ffffff;
    padding: 100px 0px;
}

.white .rowf {
    position: relative;
    height: 186px;

}

.white .cust {
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 84px;
}




.white .table {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 600px;
    width: 55%;

}

.white .minibox {
    width: 25%;
    height: 93px;
    text-align: center;
    float: left;
    line-height: 93px;
}

.img {
    position: relative;
    height: 51px;
}

.white .table img{
    position: absolute;
    max-width: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white .rows {
    height: 440px;
    position: relative;
}

.white .jumbo  {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.white .jumbo p {
    padding: 20px 0 32px 0;
}


.white .rows img{
    max-width: 350px;
    position: absolute;
    right: 0;
    top:50%;
    transform:translateY(-50%);
}

.white button {
    padding: 10px 20px;
}

/* -----------------------white----------------------- */
/* -----------------------footer----------------------- */
footer {
    padding: 100px 0 100px 0;
    background-color: #33475b;
    color: #bcd6e2;

}

footer li:hover {
    color: #7fd1de;
}

footer span{
    margin: 0 15px;
}

footer span:hover {
    color: #7fd1de;
}

footer i:hover {
    color: #7fd1de;
}

footer .rowf {
    width: 100%;
}

.box-ul {
    width: 25%;
    float: left;

}

.box-ul ul {
    list-style-type: none;
    padding: 0 30px;
}

.box-ul li {
    font-size: 14px;
    line-height: 3;
    padding: 0;

}

.box-ul ul > :first-child {
    font-weight: 800;
    font-size: 16px;
    color: white;
}

.icone i {
    padding-left: 30px;
    display: inline-block;
}

footer .languages {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bcd6e2;
}

.languages li {
    display: inline-block;
    padding: 40px 20px;
    font-weight: bold;
}

.lastrow {
    position: relative;
}

.copyright {
    position: absolute;
    left: 0;
    width: 50%;
}

.legpri {
    position: absolute;
    right: 0;
    width: 50%;
    text-align: right;
}

#contact {
    color:#33475b;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 12px;
    font-weight: 400;
    border: 0px;
    margin: 10px 0 10px 0;
}

#contact:hover {
    background-color: #eaf0f6;

}

footer .lastrow {
    padding: 32px 0 0 0;
}

.copyright img {
    padding-bottom: 14px;
}

footer p {
    color: White;
}


/* -----------------------footer----------------------- */


.sign {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 9px;
    right: 7px;
    background-color: rgba (52, 73, 100, 1);
}

.sign:hover {
    background-color: #344964;
    box-shadow: 1px 1px 7px 1px #ff7a59;
    border-radius: 50%;
}

.grunt {
    font-size: 30px;
    color: rgba(255, 255, 255, 0);
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.grunt:hover {
    color: #ff7a59;
    border-radius: 50%;
    text-shadow: #2968de;
}
