* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.mw {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;


    /* da cancellare */
    min-height: 200px;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #33475b;
}

/* .box {
    border: 1px solid black;
} */

button {
    color: white;
    border-color: #ff7a59;
    background-color: #ff7a59;
    border-radius: 5px;
}

/* -----------------------topbar----------------------- */
.topbar{
    height: 78px;
    width:100%;
    background-color: #f5f8fa;
    position: fixed;
    top: 0;
    z-index: 100;
}

.container  {

}

.topbar .left {
    float: left;
    padding-top: 28px;
}

#languages {
    float: left;
    padding-right: 21px;
    border-right: 1px solid #cbd6e2;
}

.languages span {
    margin: 0 10px;
}
#contact-us {
    float: left;
    padding-left: 21px;
}

.topbar .right {
    float: right;
    padding-top: 18px;
    padding-bottom: 18px;
}

.topbar i {
    display: inline-block;
    color: #00a4bd;
}

.buttons {
    display: inline-block;
}

#log-in {
    color: #ff7a59;
    background-color: white;
    padding: 10px 20px;
    margin: 0 12px 0 29px;
}

#ghsp {
    padding: 10px 20px;
}


/* -----------------------topbar----------------------- */
/* -----------------------header----------------------- */
header {
    background-color: #ffffff;
    margin-top: 78px;
}

nav{

}

header .left{
    float: left;
    padding: 28px 0 28px 0;
}

header .right {
    float: right;
    padding: 39px 0 39px 0;
}

#logo {
    width: 106px;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding-right: 6px;
    padding-left: 29px;
}

nav i {
    margin-left: 5px;
}


/* -----------------------header----------------------- */
/* -----------------------pink----------------------- */
.pink {
    background-color: #fff3ee;
}


/* -----------------------pink----------------------- */
/* -----------------------grey----------------------- */
.grey {
    background-color:#f5f8fa;
}

/* -----------------------grey----------------------- */
/* -----------------------green----------------------- */
.green{
    background-color: #00afb2;
}

/* -----------------------green----------------------- */
/* -----------------------white----------------------- */
.white {
    background-color: #ffffff;
}

/* -----------------------white----------------------- */
/* -----------------------footer----------------------- */
footer {
    background-color: #33475b;

}

/* -----------------------footer----------------------- */
